
:root{
    --text-color: #000;
    --text-secondary-color: #f7f3f3aa;
    --background-color:#fff;
    --border-color: #f4eded;

    --primary-button-background-color: #fff;
    --primary-button-text-color: #121212;
    --card-background-color: #2d2d2d3b;
    --tertiary-button-text-color: rgb(254, 77, 33);
}

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box; 
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 color: var(--text-color);
}

nav{
    position: fixed;
    width: 80%;
    margin: 140px;
    margin-top: 15px;
    margin-bottom: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 1;
}

nav #nav-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 100px;
}

nav #nav-left img{
    margin-top: 1px;
    width:30%;
}

nav #nav-center {
    display:flex;
    list-style-type: none;
    justify-content: start;
    gap:15px;
}

nav #nav-center a{
    color: var(--text-secondary-color);
    font-weight: 500;
}

nav #nav-right{
    display: flex;
    justify-content: end;
    gap:10px;
    margin-left: 100px;
}

.button-one {
  background-color: transparent;
  border-radius: 25px;
  padding: 5px 15px;
  border: 0.5px solid var(--border-color);
  color:var(--text-secondary-color);
  font-size: medium;
  white-space: nowrap;
}

.button-two {
  background-color: var(--primary-button-background-color);
  color: var(--primary-button-text-color);
  border-radius: 25px;
  padding: 5px 15px;
  border: 0.5px solid var(--border-color);
  font-weight: 500;
  font-size: medium;
  white-space: nowrap;
}

.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-bottom: 150px;
}

h1{
    color:#fff;
    width:40ch;
    font-size: 50px;
    margin-top: 100px;
    margin-left: 700px;
}

h1 pre{
    color: #fff;
}

.hero-section{
   position: relative;
}

.background{
    background-image: url("https://media.istockphoto.com/id/152534273/photo/realistic-painting-of-a-bavarian-landscape.jpg?s=2048x2048&w=is&k=20&c=zvXem0EHht9fVI1NK1bH3SSiCj8fb6NbmKim58O1_40=");
    position: relative;
    height: 1100px;
}


.hero-section p{
  width:40ch;
  color: #fff;
  font-size: 1.2rem;
}

.hero-section button{
    position: absolute;
    margin-top: 325px;
    margin-left: 200px;
}

form input{
    width: 310px;
    height: 42px;
}

.preview-section {
  position: relative; 
  margin-top: 100px; 
}

.preview-section img{
 position: absolute;
 margin-left: 100px;
}

.logos-section {
    border: 1px solid red;
    width:80%;
    margin:150px;
    margin-top: 1070px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
}

.logos-section div{
  width:90%;   
  display: flex;
  justify-content: center;
  gap:10px;
}

.logos-section div img {
 width:13%;
 background-color: var(--card-background-color);
 padding: 40px 35px;
 border-radius: 7px;
}



